@model Videos.Application.Video.GetVideo.VideoViewModel
@{
	string authorQuote = "@" + Model.AuthorName;
}
<div class="myContainer">
	<table>
		<tr>
			<td>
				<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@authorQuote/video/@Model.VideoId"
							data-video-id="@Model.VideoId" style="max-width: 605px;min-width: 325px;">
					<section> </section>
				</blockquote>
			</td>
			<td>
				Create Time: @Model.CreateTime<br />
				Duration: @Model.Duration s<br />
				Ratio: @Model.Ratio<br />
				Format: @Model.Format<br />
				Height: @Model.Height<br />
				Size: @Model.Size<br />
				Video Quality: @Model.VideoQuality<br />
				

				<h3>Reviews</h3>
				<div id="reviewsContainer" style="max-height: 300px; overflow-y: auto;">
					@{
						foreach (var review in Model.Reviews)
						{
							<p>@review</p>
							<hr />
						}
					}
				</div>

				<div class="container mt-5">
					<div class="form-group">
						<label>Your Comment</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" cols="50"></textarea>
					</div>
					<button type="button" class="btn btn-primary" id="submitComment">Submit</button>
				</div>
			</td>
		</tr>
	</table>
</div>
<script async src="https://www.tiktok.com/embed.js"></script>

@section HeadContent {
	<style type="text/css">
		.myContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh; /* Adjust as needed */
		}

		table {
			border-collapse: separate;
			border-spacing: 100px;
		}

		td {
			border: 0px solid black; /* For demonstration purposes */
			padding: 10px; /* Optional: Add padding to cells */
		}
	</style>
}

@section scripts {

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#submitComment').click(function () {
				var comment = $('#exampleFormControlTextarea1').val();
				$.ajax({
					type: 'POST',
					url: '/video/videos/addComment',
					data: JSON.stringify({ comment: comment, videoId: '@Model.VideoId' }),
					contentType: 'application/json',
					success: function (response) {
						// Assuming 'response' contains the new comment
						// Append the new comment to the reviews container
						var newReviewHtml = '<p>' + comment + '</p><hr />';
						$('#reviewsContainer').append(newReviewHtml);

						// Clear the textarea
						$('#exampleFormControlTextarea1').val('');

						//alert('Comment submitted successfully!');
					},
					error: function (error) {
						alert('Error submitting comment.');
					}
				});
			});
		});
	</script>

}