@model Videos.Application.Video.GetVideo.VideoViewModel
@{
	string authorQuote = "@" + Model.AuthorName;
}
<div class="myContainer">
	<table>
		<tr>
			<td>
				<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@authorQuote/video/@Model.VideoId"
							data-video-id="@Model.VideoId" style="max-width: 605px;min-width: 325px;">
					<section> </section>
				</blockquote>
			</td>
			<td>
				Create Time: @Model.CreateTime<br />
				Duration: @Model.Duration s<br />
				Ratio: @Model.Ratio<br />
				Format: @Model.Format<br />
				Height: @Model.Height<br />
				Size: @Model.Size<br />
				Video Quality: @Model.VideoQuality<br /><hr />
				
				<div class="container mt-5">
					<div class="form-group">
						<label>Your Comment</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" cols="50"></textarea>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<script async src="https://www.tiktok.com/embed.js"></script>

@section HeadContent {
	<style type="text/css">
		.myContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh; /* Adjust as needed */
		}

		table {
			border-collapse: separate;
			border-spacing: 100px;
		}

		td {
			border: 0px solid black; /* For demonstration purposes */
			padding: 10px; /* Optional: Add padding to cells */
		}
	</style>
}